.head{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;  
}
.imgContent, .img{
  margin: 10px;
  width: 150px;
  z-index: 3;
}
.form, .login, .join{
  text-decoration: none;
  color: #fff;
  font-size: 22px;
  font-family: var(--font-basic);
  font-variant: small-caps;
  font-weight: 700;
  margin: 10px;
  z-index: 3;
}
.login::after{
  content: "|";
  margin: 0 0 0 20px;
}
.palleraxImg{
  min-height: 700px; 
  filter: brightness(60%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background::before{
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 700px;
  backdrop-filter: blur(4px);
}
.title{
  width: 100%;
  position: absolute;
  top: 150px;
  z-index: 3;
}
.mainTitle{
  width: 95%;
  font-family: var(--font-basic);
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: baseline;
  z-index: 3;
}
.yein{
  color: #fff;
  font-variant: small-caps;
  font-size: 180px;
  font-weight: bold;
  margin-right: 30px;
  animation: mainTitle 2s forwards;
}
.g{
  font-size: 200px;
}
.mainSub{
  opacity: 0;
  color: #fff;
  font-family: var(--font-main);
  font-size: 70px;
  animation: mainTitle 2s .5s forwards;
}
.subTitle,.subTitleContent{
  width: 80%;
  margin: 0 auto;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav{
  position: absolute;
  top: 450px;
  z-index: 20;
  left: 50vw;
  transform: translateX(-50%);
  width: 95%;
}

.warnning{
  font-family: var(--font-main);
  text-align: center;
  padding: 20px;
  font-size: 50px;
}
.container{
  text-align: center;
}
.content{
  width: 100%;
  height: 200px;
  text-align: center;
}
.subTitleContent{
  transform: translateY(30%);
}
.subTitle{
  opacity: 0;
  animation: mainTitle 2s 1s forwards;
}
.mainTxt{
  color: #000;
  font-family: var(--font-basic);
  font-variant: small-caps;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.line{
  width: 400px;
  height: 10px;
  margin: 0 auto;
  border-top: 5px solid black;
}
.subTxt{
  font-family: var(--font-sub);
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin:0 0 20px 0;
}
@keyframes mainTitle {
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
  50%{
    transform: translateY(0);
  }
  100%{
    opacity: 1;
  }
}
/* 테블릿 가로 버전 */
@media screen and (max-width:1240px){
  .nav{
    width: 80%;
  }
  .palleraxImg{
    background: center no-repeat;
    background-size: cover;
  }
  .yein{
    font-size: 150px;
  }
  .g{
    font-size: 200px;
  }
  .mainSub{
    font-size: 80px;
  }
}

/* 테블릿 세로 버전 */
@media screen and (max-width:1024px){
  .yein{
    font-size: 100px;
  }
  .g{
    font-size: 150px;
  }
  .mainSub{
    font-size: 60px;
  }
  .subTitle{
    width: 95%;
  }
  .describe{
    width: 100%;
    font-size: 16px;
  }
  .palleraxImg{
    min-height: 500px;
    height: 500px;
    background: center;
  }
  .background::before{
    height: 500px;
  }
  .nav{
    top:280px
  }
}



/* 모바일 버전 */
@media screen and (max-width:768px){
.yein{
  font-size: 55px;
  animation: none;
}
.g{
  font-size: 60px;
}
.mainSub{
  font-size: 40px;
  animation: none;
  opacity: 1;
}
.palleraxImg{
  min-height: 300px;
  height: 300px;
  background: center;
}
.background::before{
 height: 300px;
}
.nav{
  display: none;
}
.title,.mainTitle{
  font-family: var(--font-basic);
}
.mainTxt{
  font-size: 40px;
}
.line{
  width: 50%;
}
.subTxt{
  width: 100%;
  font-size: 15px;
  margin-bottom: 0;
}
.content{
  height: 17vh;
}
.describe{
  display: none;
}
}