.imgContent{
  display: block;
  position: relative;
  width: 30%;
  height: 400px;
  margin: 20px 10px 100px 10px;
  overflow: hidden;
}
.container{
  width: 300px;
  height: 400px;
  margin: 0 auto;
}
.img{
  border-radius: 10px;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.2s;
}
.container:hover .img{
  filter: blur(5px) brightness(50%);
}
.container:hover .des{
  transform: translateY(-220px);
}
.des{
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: var( --font-sub);
  font-weight: 500;
  transition: all 0.2s;
}
.mbImgs{
  display: none;
}
/* 테블릿 가로 버전 */
@media screen and (max-width:1240px){
  .imgContent, .container, .img, .des{
  touch-action: pan-y;
  }
}

/* 테블릿 세로 버전 */
@media screen and (max-width:1024px){
  .imgContent, .container, .img, .des{
  touch-action: pan-y;
  }
  .imgContent{
  width: 30%;
  height: 300px;
  margin:5px 0;
  }
  .container,.img{
    width: 250px;
    height: 260px;
  }
}

/* 모바일 버전 */
@media screen and (max-width:768px){
.imgContent, .container, .img, .des{
  touch-action: pan-y;
}
.imgContent{
  width: 100%;
  height: 280px;
  margin:5px 0;
}
.container,.img{
  width: 350px;
  height: 260px;
}
.container:hover .des{
  transform: translateY(-180px);
}
.imgContent{
  display: none;
}
.mbImgs{
  display: block;
  width: 100%;
  height: 300px;
}
.mbImgDiv{
  width: 350px;
  height: 260px;
}
.mbImg{
  width: 350px;
  height: 260px;
  margin: 0 auto;
  cursor: pointer;
}
}