.container{
  position: relative;
  z-index: 6;
}
.content{
  height: 80%;
  background-color: #fff;
  padding: 30px;
  overflow: scroll;
  overflow-x: hidden;
}
.addrInput{
  width: 70%;
}
.date{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.name, .totalInfo{
  width: 20%;
  font-family: var(--font-sub);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  line-height: 37px;
}
.userEmail{
  font-family: var(--font-sub);
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;
}
.awsomeIcon{
  font-size: 25px; 
  cursor: pointer;
  margin-left: 10px;
  transition: color .1s;
}
.user, .departure, .arrival, 
.title, .enquireContent{
  display: flex;
  height: 37px;
  align-items: center;
  margin-bottom: 10px;
}

.depAddrContent,
.arrAddrContent, 
.titleContent, 
.contContent, 
.totalInfoContent,
.workdateContent
{
  font-family: var(--font-sub);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 700;
  width: 50%;
  border: none;
  background-color:#f0f0f0;
  color: #000;
}
.enquireContent{
  height: auto;
  align-items: flex-start;
}
.contContent{
  width: 70%;
  height: auto;
  resize: none;
}
.board{
  text-align: left;
  width: 90%;
  font-weight: 800;
  margin:  0 auto 10px;
  font-family: var(--font-sub);
  color: #6c757d;
}
.titleContent,.contContent{
  font-size: 18px;
}

.imgs{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: 20px auto;
}
.imgFiles{
  width: 50%;
  height: 50%;
}.img{
  width: 95%;
  height: 95%;
}
.files{
  width: 90%;
  margin: 0 auto;
}
.file{
  list-style: none;
  width: 35%;
  font-family: var(--font-sub);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 37px;
  padding: 0;
}




/* 테블릿 가로 버전 */
@media screen and (max-width:1240px){
 .fileList{
  font-size: 15px;
 }
 .file{
  width: 25%;
 }
}
/* 테블릿 세로 버전 */
@media screen and (max-width:1024px){
  
}

/* 모바일 버전 */
@media screen and (max-width:768px){
.container .content{
  touch-action: pan-y;
  padding: 10px;
}
.name{
  font-size: 18px;
}
.contContent{
  width: 60%;
}
.workdateContent,
.contContent,
.arrAddrContent,
.depAddrContent{
  width: 60%;
  font-size: 15px;
}
.name{
  width: 30%;
  font-size: 15px;
}
.title{
  overflow: hidden;
}
.titleContent{
  width: 60%;
  font-size: 15px;
}
.productsInfo{
  width: 100%;
  margin: 0;
}
.countName{
  width: 8%;
  font-size: 15px;
  text-align: right;
}
.productInfo{
  width: 20%;
}
.productInfo, .count, .weight{
  font-size: 13px;
}
.totalInfo{
  align-items: center;
}
.totalInfoContent{
  width: 35%;
  font-size: 24px;
}
.deletBtn{
  margin-top: 20px;
  width: 90%;
}
.file{
  width: 50%;
 }
}