@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

:root{
  --font-main : 'Do Hyeon', sans-serif;
  --font-sub : 'IBM Plex Sans KR', sans-serif;
  --font-basic : 'Sen', sans-serif;
  --font-logo : 'Song Myung', serif;
}