.container{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.title{
  width: 90%;
  margin: 0 auto;
  font-size: 35px;
  font-weight: 800;
  font-family: var(--font-sub);
}
.subTitle{
  border-bottom: 3px solid #000;
  width: 90%;
  margin: 0 auto;
}
.subTitle, .sub{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sub{
  width: 25%;
  font-size: 25px;
  font-weight: 800;
  font-family: var(--font-sub);
}
.subdata{
  width: 80%;
  font-size: 22px;
  text-align: left;
}
.subject{
  width: 25%;
}
.main{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 20vh;
}
.file{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.fileTitle{
  width: 10%;
  font-size: 20px;
  font-family: var(--font-basic);
}
.img{
  margin: 30px auto;
}
.content{
  font-size: 20px;
  font-family: var(--font-basic);
}