.container{
  position: relative;
}
.palleraxImg{
  min-height: 80vh; 
  filter: brightness(60%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background::before{
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  backdrop-filter: blur(4px);
}
.title{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0vh;
  z-index: 3;
}
.histories{
  width: 50%;
  color: #fff;
  animation: wave 12s linear infinite forwards;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.mainInnerTitle{
  opacity: 0;
  height: 100%;
  transform: translateY(15%);
  transition: opacity, transform 0.8s, 0.5s ;
}
.mainTitle, .subTitle{
  font-family: var(--font-sub);
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  padding: 30px;
  color: #fff;
}

.mainTitle{
  text-align: left;
  font-size: 80px;
  font-weight: 500;
  line-height: 50px;
}
.subTitle{
  text-align: right;
  line-height: 40px;
  font-size: 25px;
  top: 0;
}
.subInnerTitle{
  opacity: 0;
  margin-right: 0rem;
  transition: opacity, margin 0.5s, 0.8s;
}
.historieNone{
  display: none;
}

@keyframes wave {
   0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -151%, 0);
  }
}


/* 테블릿 가로 버전 */
@media screen and (max-width:1240px){
  .imgContent, .container, .img, .des{
  touch-action: pan-y;
  }
  .description{
    width: 100%;
  }
  .histories{
  display: none;
  }
  .palleraxImg{
  background: center no-repeat;
  background-size: 100% 80vh;
  }
  .mainTitle{
    font-size: 80px;
    margin-left: 20px;
  }
}

/* 테블릿 세로 버전 */
@media screen and (max-width:1024px){
  .imgContent, .container, .img, .des{
  touch-action: pan-y;
  }
  .mainTitle{
    font-size: 70px;
    margin-left: 20px;
  }
}
/* 모바일 버전 */
@media screen and (max-width:768px){
  .histories{
    display: none;
  }
  .palleraxImg{
    min-height: 60vh; 
    background: center no-repeat;
    background-size: 100% 80vh;
  }
  .background::before{
    height: 60vh;
  }
  .description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 500;
    line-height: 50px;
    z-index: 3;
  }
  .mainTitle{
    font-size: 35px;
    margin-left: 10px;
    height: 200px;
  }
  .txt,.mainSub{
    height: 50px;
  }
  .subTitle{
    width: 420px;
    font-size: 14px;
    text-align: right;
    margin-right: 0;
  }
}