.container{
  position: relative;
  width: 100%;
  height: 230px;
}
.palleraxImg{
  min-height: 230px; 
  filter: brightness(40%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.background::before{
  content: "";
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  backdrop-filter: blur(10px);
}
.ftContent{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.ftCopy{
  display: flex;
  height: 50px;
  flex-direction: row;
  margin-left: 70%;
}
.ftCopy a, .ftLogo a{
  text-decoration: none;
  color: #fff;
}
.ftCont, .ftIndi{
  font-size: 16px;
  cursor: pointer;
}
.ftCont::after{
  content: "|";
  margin: 0 20px;
}
.ftInfo{
  width: 100%;
  height: 110px;
  display: flex;
  font-family: var(--font-basic);
  flex-direction: row;
  align-items: center;
}
.ftLogo{
  width: 30%;
  font-size: 45px;
  font-family: var(--font-logo);
  text-align: center;
}
.ftAddr{
  width: 80%;
}
.ftCompany{
  width: 100%;
  height: 5vh;
  text-align: center;
  font-family: var(--font-basic);
  font-weight: 700;
  line-height: 60px;
}
.phone1,.phone2{
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

@media screen and (max-width:1024px) {
  .ftCont, .ftIndi{
    font-size: 14px;
}
}
/* 모바일 버전 */
@media screen and (max-width:768px){
.ftCopy{
  margin: 5px 10px 0 10px;
}
.ftInfo{
  flex-direction: column;
  height: 110px;
}
.ftLogo{
  width: 100%;
  font-size: 30px;
  margin: 0 0 0 10px;
  text-align: left;
}
.ftAddr{
  width: 100vw;
  font-size: 10px;
  margin: 0 5px 0 10px;
}
.ftAddr p{
  margin-left: 5px;
}
.ftCompany{
  height: 40px;
  line-height: 40px;
}
}