
.bg{
  position:fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
  backdrop-filter: blur(10px);
  z-index: 9999;
}
.container{
  position: fixed;
  top: 5vh;
  left: 25vw;
  z-index: 9999;
  width: 50vw;
  height: 90vh;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(134, 132, 132);  
  padding: 10px; 
}
.close{
  position: fixed;
  top: 10vh;
  left: 70vw;
  font-size: 30px;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  cursor: pointer;
  z-index: 99;
}
.close:hover{
  color: #f00;
}
.ctt_provision{
  padding: 10px;
}
.ul{
  list-style: lower-alpha;
}