.container{
  text-align: center;
  position: relative;
  z-index: 6;
}
.content{
  width: 100%;
  height: 170px;
  text-align: center;
}
.title{
  margin: 0 auto;
  transform: translateY(50%);
}
.mainTxt{
  font-family: var(--font-basic);
  font-variant: small-caps;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}

.line{
  width: 400px;
  height: 10px;
  margin: 0 auto;
  border-top: 5px solid black;
}
.subTxt{
  font-family: var(--font-sub);
  font-size: 24px;
  font-weight: 700;
  margin:0 0 20px 0;
}
.galleryList{
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

/* 모바일 버전 */
@media screen and (max-width:768px){
 .title{
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: 100vw;
 }
 .mainTxt{
  width: 100vw;
  font-size: 40px;
  text-align: center;
 }
 .line{
  width: 250px;
 }
 .subTxt{
  font-size: 20px;
  text-align: center;
  margin: 0;
 }
 .galleryList{
  margin-top: 0;
  flex-direction: column;
 }
}