.ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.li{
  width: 25%;
}
.ul a, .li a{
  text-decoration: none;
  width: 25%;
  color: #fff;
}
.li{
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  color: #fff;
  font-family: var(--font-sub);
  cursor: pointer;
}
.content:hover{
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

/* 테블릿 가로 버전 */
@media screen and (max-width:1240px){
  
}
/* 테블릿 세로 버전 */
@media screen and (max-width:1024px){
  .li{
    font-size: 20px;
  }
}

/* 모바일 버전 */
@media screen and (max-width:768px){
.ul{
  flex-direction: column;
  margin-top: 40%;
  padding: 0;
}
.li{
  height: 100px;
  text-decoration: none;
  width: 100%;
  font-size: 25px;
  color: #000;
}
}