.container{
  min-height: 50vh;
}
.table{
  text-align: center;  
  margin: 0 auto;
  width: 80vw;
  border-collapse: collapse;
}
.thead{
  font-family: var(--font-sub);
  font-size: 24px;
}
.thead tr th{
  border-bottom: 4px solid #000; 
}

.tbody tr{
  height: 50px;
}
.tbody tr td {
  font-size: 18px;
  font-weight: 800;
  font-family: var(--font-sub);
}
.title{
  width: 40%;
  cursor: pointer;
}
.title:hover{
  color:#0d6efd;
}
.enquireBtn{
  width: 80vw;
  text-align: right;
  margin: 0 auto;
}
.search{
  height: 80px;
}
.tfoot tr:first-child td{
  border-top: 4px solid #000;
}