.mainSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 6;
}
.imgList{
  width: 30%;
  height: 550px;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
}
.imgDetail{
  width: 400px;
  height: 550px;
  object-fit: fill;
  transition: filter 0.2s;
}
.container{
  height: 550px;
  cursor: pointer;
}
.container:hover .imgDetail{
  filter: blur(5px) brightness(50%);
}
.des{
  opacity: 0;
  font-family: var( --font-sub);
}
.container:hover .des{
  opacity: 1;
  transform: translateY(-20rem);
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-family: var( --font-sub);
  font-weight: 500;
}
.mobileBtn{
  display: none;
}
.deskTopBtn{
  display: block;
}


/* 테블릿 가로 버전 */
@media screen and (max-width:1240px){
 .imgList{
    width: 30%;
    height: 400px;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
  }
  .imgDetail{
    width: 400px;
    height: 400px;
    object-fit: fill;
    transition: filter 0.2s;
  }
  .container{
    height: 100%;
  }
  .container:hover .des{
    opacity: 1;
    transform: translateY(-15rem);
  }
}
/* 테블릿 세로 버전 */
@media screen and (max-width:1024px){
  .imgList{
  width: 40%;
  height: 400px;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
  }
  .imgDetail{
    width: 400px;
    height: 500px;
    object-fit: fill;
    transition: filter 0.2s;
  }
  .imgDetail{
    height: 360px;
  }
  .container:hover .imgDetail{
    filter: none;
  }
  .container:hover .des{
    opacity: 1;
    transform: none;
    text-align: center;
    color: #000;
    font-size: 18px;
    font-family: var(--font-basic);
    font-weight: 600;
  }
  .des{
    opacity: 1;
    font-size: 18px;
    margin-top: 0;
    font-family: var(--font-basic);
    font-weight: 600;
  }
}
.pagination{
  display: flex;
  padding-left: 0;
  list-style: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.item a {
  position: relative;
  display: block;
  font-size: 20px;
  padding: 0.375rem 0.8rem;
  color: #0d6efd;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin: 0 5px;
}

.item a:hover {
  z-index: 2;
  color: rgb(253, 254, 255);
  background-color: #859aaf;
  border-color: #dee2e6;
}
.current a{
  z-index: 3;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.break{
  color: #0a58ca;
  font-size: 20px;
  margin: 0 5px;
}
.next, .prev{
  margin: 0 20px;
}
/* 모바일 버전 */
@media screen and (max-width:768px){
  .deskTopBtn{
    display: none;
  }
  .mobileBtn{
    display: block;
  }
  .mainSection{
    flex-direction: row;
  }
  .imgList{
    width: 50%;
    padding: 0;
    height: 250px;
  }
  .imgDetail{
    width: 95%;
    margin-right: 5px;
    height: 80%;
  }
  .des{
   font-size: 12px;
  }
  .container:hover .des{
    font-size: 12px;
  }
  .container{
    height: 100%;
  }
}