.container{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
  backdrop-filter: blur(3px);
  overflow: hidden;
  z-index: 100;
}
.form{
  width: 70%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.content{
  width: 100%;
  height: 90%;
  background-color: #fff;
  padding: 30px;
  overflow: scroll;
  overflow-x: hidden;
}
.addrInput{
  width: 70%;
}
.close{
  text-align: right;
  font-size: 20px;
  cursor: pointer;
  transition: color .1s;
}
.date{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.name, .totalInfo,.passwordTitle {
  width: 25%;
  font-family: var(--font-sub);
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  line-height: 37px;
}
.datePicker{
  width: 30%;
}
.datePicker input{
  border: none;
  background-color:#D9D9D9;
  width: 80%;
}
.datePicker input[type="text"]{
  font-family: var(--font-sub);
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;
}
.awsomeIcon{
  width: 20%;
  font-size: 25px; 
  cursor: pointer;
  margin-left: 10px;
  transition: color .1s;
}
.user, .departure, .arrival, .password,
.distance, .title, .enquireContent{
  display: flex;
  height: 37px;
  align-items: center;
  margin-bottom: 10px;
}
.password input[type="password"],
.userEmail input[type="text"],
.departure input[type="text"],
.arrival input[type="text"], 
.title input[type="text"], 
.enquireContent textarea[type="text"], 
.totalInfo input[type="text"],
.distance input[type="text"]{
  font-family: var(--font-sub);
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  width: 50%;
  border: none;
  background-color:#D9D9D9;
  color: #000;
}
.password input[type="password"]{
  width: 30%;
}
.userEmail input[type="text"]{
  width: 70%;
}
.plus{
  font-size: 18px;
  text-align: right;
  cursor: pointer;
  transition: color .1s;
}
.totalInfo{
  width: 100%;
  font-size: 24px;
}
.totalInfo input[type="text"]{
  text-align: center;
  width: 30%;
  font-size: 20px;
  margin: 0 20px;
  color: #f00;
}
.close:hover, .awsomeIcon:hover, .plus:hover{
  color: #f00;
}
.btnContainer{
  position: sticky;
  bottom: 0px;
  margin: 30px 0;
  text-align: right; 
}
.uploadBtn{
  font-size: 20px;
  font-family: var(--font-main);
  padding: 10px 15px;
  background-color: #fff;
  color: #6c757d;
  border: 1px solid #6c757d;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: all .2s;
}
.uploadBtn:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.board{
  align-items: flex-start;
  border-top: 2px dashed #000;
  
}
.enquireContent textarea[type="text"]{
  width: 70%;
  height: 90%;
  resize: none;
}
.board{
  text-align: left;
  width: 90%;
  font-weight: 800;
  margin:  50px auto 10px;
  font-family: var(--font-sub);
  color: #6c757d;
}
.distance ~ .name{
    width: 90%;
  }
.loadingContainer{
  width: 100px;
  margin-left: 85%;
}
.enquireContent{
  height: 500px;
  align-items: flex-start;
}
.fileInputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}
.inputFile{
  width: 60%;
  height: 40px;
  text-align: right;
}
.input label {
  font-size: 30px;
  font-weight: 500;
  width: 30px;
  height: 30px;
  color: #fff;
  border-radius: 50%;
  margin-left: 20px;
  line-height: 23px;
  text-align: center;
  background: rgb(168, 164, 164);
  cursor: pointer;
  transition: background .2s;
}
.input label:hover {
  color: #fff;
  background: #000;
}


/* 모바일 버전 */
@media screen and (max-width:768px){
  .container,.content, .form,.contentInput{
    touch-action: pan-y;
  }
  .name,.passwordTitle{
    width: 18%;
    font-size: 15px;
  }
  .form{
    width: 95%;
  }
  .content{
    padding: 5px;
  }
  
.enquireContent textarea[type="text"]{
    padding: 2px 2px;
  }
  .departure .name, 
  .arrival .name{
    font-size: 15px;
    width: 20%;
  }
  .distance{
    display: none;
  }
  .distance ~ .name{
    font-size: 15px;
    width: 90%;
  }
  .departure input[type="text"],
  .arrival input[type="text"]{
  width: 60%;
  } 
  .datePicker{
    font-size: 15px;
    width: 50%;
  }
  .datePicker input[type="text"]{
    font-size: 16px;
  }
}