.productsInfo{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}
.selectProduct, 
.count, 
.selectWeight,
.price input[type="text"]{
  border: none;
  font-family: var(--font-sub);
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  width: 25%;
  border: none;
  background-color:#D9D9D9;
  cursor: pointer;
  text-align: center;
  color: #000;
}
.countName{
  font-size: 18px;
  font-family: var(--font-sub);
  font-weight: 700;
  width: 8%;
  text-align: right;
}
.count{
  text-align: center;
  width: 10%;
}
.selectWeight{
  width: 15%;
}
.price{
  width: 20%;
}
.price input[type="text"]{
  width: 80%;
  cursor: auto
}
.remove{
  font-size: 18px;
  font-family: var(--font-sub);
  font-weight: 700;
  width: 5%;
  text-align: right;
  cursor: pointer;
  transition: color .1s;
}
.remove:hover{
  color: #f00;
}

/* 모바일 버전 */
@media screen and (max-width:768px){
  .countName{
    font-size: 14px;
  }
  .selectProduct,.count,.selectWeight, .price input[type="text"]{
    font-size: 12px;
  }
  .selectProduct{
    width: 25%;
  }
  .count{
    width: 10%;
  }
  .selectWeight{
    width: 15%;
  }
  .price {
    width: 20%;
  }
}